KEYGEN_HOST=license-server.local
KEYGEN_DOMAIN=license-server.local
KEYGEN_PORT=3000
KEYGEN_EDITION=CE
KEYGEN_MODE=singleplayer
KEYGEN_ACCOUNT_ID=6f1f56e8-3b6f-4a86-9a31-9e0e7f62c001
KEYGEN_SECRET_KEY_BASE=change-this-to-a-long-random-secret
POSTGRES_PASSWORD=change-this-postgres-password
KEYGEN_ENCRYPTION_PRIMARY_KEY=change-this-32-byte-base64-key
KEYGEN_ENCRYPTION_DETERMINISTIC_KEY=change-this-32-byte-base64-key
KEYGEN_ENCRYPTION_KEY_DERIVATION_SALT=change-this-32-byte-base64-salt
ADMIN_PORT=8080
ADMIN_TOKEN=change-this-to-a-long-admin-token
